<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>托福人分类页</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/toefl.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/lrtk.js}"></script>
</head>

<body>

<div class="doc1180 paddingT20 fn-clear">
    <!--页面左侧内容-->
    <div class="tfr_left">
        <div class="tfr_Details" th:object="${article}">
            <div class="tfr_DetailsPic"><img th:src="@{/article/getArtImg/{artNo}(artNo=${article.artNo})}"></div>
            <div class="tfr_DetailsTitle"><p th:text="*{artTitle}"></p></div>
            <div class="tfr_DetailsTime">发布于：<span th:text="*{artDate}">2015-12-29</span></div>
            <div class="tfr_DetailsTime">发布人：<a href="###" th:text="*{user.userName}">alex</a></div>
            <div class="tfr_DetailsFx"><a></a><img th:src="@{/img/tfr_DetailsFx.png}"></a></div>
            <div class=" tfr_DetailsMain">
                <p th:text="*{artText}"></p>
            </div>
            <div class="tfr_DetailsPl">
                <div class="tfr_DetailsPlTop">
                    文章评论<span>18</span>
                    <span class="glyphicon glyphicon-heart" title="点击后关注"
                          style="float: right;right: 50px;font-size: 30px;color: red;"></span>
                </div>
                <div class="tfr_DetailsSr">
                    <textarea name="" cols="" rows="" class="tfr_DetailsInput"></textarea>
                </div>
                <div class="tfr_DetailsTj">
                    <dl>
                        <dt><a class="tfr_DetailsTjLink">登录</a>后参与评论</dt>
                        <dd><a href="###" class="tfr_DetailsTjpl">提交评论</a></dd>
                    </dl>
                </div>
                <div class="tfr_DetailsMessage">
                    <ul>
                        <li>
                            <div class="tfr_DetailsMPic">
                                <img src="../img/125x125.jpg">
                                <div class="tfr_DetailsMPicB"></div>
                            </div>
                            <div class="tfr_DetailsMText">
                                <div class="tfr_DetailsMTitle">品论内容评论内容</div>
                                <div class="tfr_DetailsName"><span>会员2345</span>一个月前（12-03）</div>
                            </div>
                            <div class="tfr_DetailsLc">#16</div>
                        </li>
                        <li>
                            <div class="tfr_DetailsMPic">
                                <img src="../img/125x125.jpg">
                                <div class="tfr_DetailsMPicB"></div>
                            </div>
                            <div class="tfr_DetailsMText">
                                <div class="tfr_DetailsMTitle">品论内容评论内容</div>
                                <div class="tfr_DetailsName"><span>会员2345</span>一个月前（12-03）</div>
                            </div>
                            <div class="tfr_DetailsLc">#16</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--页面左侧内容 end-->
    <!--页面右侧内容-->
    <div class="doc280 fn-right">
        <!--今日上线-->
        <div class="index_itemR">
            <div class="tfr_jrsx">
                <h3>今日上线</h3>
                <span>+12</span>
            </div>
            <div class="index_homework">
                <dl>
                    <dt><i class="index_homeworkIcon"><img src="../img/index_homeworkIcon_1.png" width="20" height="20"></i><a
                            href="#" class="index_homeworkTitle">听力</a></dt>
                    <dd><a href="#">控制字数控制显示的字数控制字数控制显示的字数控制字数控制显示的字数</a></dd>
                </dl>
                <dl>
                    <dt><i class="index_homeworkIcon"><img src="../img/index_homeworkIcon_2.png" width="20" height="20"></i><a
                            href="#" class="index_homeworkTitle">听力</a></dt>
                    <dd><a href="#">控制字数控制显示的字数控制字数控制显示的字数控制字数控制显示的字数</a></dd>
                </dl>
                <dl>
                    <dt><i class="index_homeworkIcon"><img src="../img/index_homeworkIcon_3.png" width="20" height="20"></i><a
                            href="#" class="index_homeworkTitle">听力</a></dt>
                    <dd><a href="#">控制字数控制显示的字数控制字数控制显示的字数控制字数控制显示的字数</a></dd>
                </dl>
                <dl>
                    <dt><i class="index_homeworkIcon"><img src="../img/index_homeworkIcon_4.png" width="20" height="20"></i><a
                            href="#" class="index_homeworkTitle">听力</a></dt>
                    <dd><a href="#">控制字数控制显示的字数控制字数控制显示的字数控制字数控制显示的字数</a></dd>
                </dl>

            </div>
        </div>
        <!--热门小组-->
        <div class="index_itemR">
            <div class="index_itemRtitle">
                <h3>热门小组</h3>
                <a href="###" class="index_itemRMore">换一换</a>
            </div>
            <div class="index_itemRHot">
                <dl>
                    <dt><a href="###"><img src="../img/48x48.png" width="48" height="48"></a></dt>
                    <dd>
                        <div class="fn-clear">
                            <span class="index_itemRHotName">标题请控制字数</span>
                            <span class="index_itemRHotPic"><img src="../img/index_itemRHot.png"></span>
                            <span class="index_itemRHotNum">234567人加入</span>
                        </div>
                        <div class="index_itemRHotText">简介请控制字数</div>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="###"><img src="../img/48x48.png" width="48" height="48"></a></dt>
                    <dd>
                        <div class="fn-clear">
                            <span class="index_itemRHotName">你不做作就不会死</span>
                            <span class="index_itemRHotPic"><img src="../img/index_itemRHot.png"></span>
                            <span class="index_itemRHotNum">234567人加入</span>
                        </div>
                        <div class="index_itemRHotText">你不做作就不会死你不做作就不会死你不做作就不会死</div>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="###"><img src="../img/48x48.png" width="48" height="48"></a></dt>
                    <dd>
                        <div class="fn-clear">
                            <span class="index_itemRHotName">你不做作就不会死</span>
                            <span class="index_itemRHotPic"><img src="../img/index_itemRHot.png"></span>
                            <span class="index_itemRHotNum">234567人加入</span>
                        </div>
                        <div class="index_itemRHotText">你不做作就不会死你不做作就不会死你不做作就不会死</div>
                    </dd>
                </dl>
            </div>

        </div>
        <!--名师推荐-->
        <div class="index_itemR">
            <div class="index_itemRtitle">
                <h3>名师推荐</h3>
                <a href="###" class="index_itemRMore">更多</a>
            </div>
            <div class="tfr_mstj">
                <dl>
                    <dt><a href="###"><img src="../img/tfr_mstj.png"></a></dt>
                    <dd>
                        <h3 class="tfr_mstjH3">教师名字</h3>
                        <a href="###">60分以下考生作业: 盛会杰老师 于2015-01-15日发作业</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="###"><img src="../img/tfr_mstj.png"></a></dt>
                    <dd>
                        <h3 class="tfr_mstjH3">教师名字</h3>
                        <a href="###">60分以下考生作业: 盛会杰老师 于2015-01-15日发作业</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="###"><img src="../img/tfr_mstj.png"></a></dt>
                    <dd>
                        <h3 class="tfr_mstjH3">教师名字</h3>
                        <a href="###">60分以下考生作业: 盛会杰老师 于2015-01-15日发作业</a>
                    </dd>
                </dl>
            </div>
        </div>


    </div>
    <!--页面右侧内容 end-->

</div>

</body>
</html>
