<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>我的托福人</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/toefl.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery-2.1.0.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/publicClass.js}" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="">
    <div class="flcb_cardMenu" style="position: relative;">
        <ul>
            <li class="on">
                <a name="myclass" th:href="@{/article/fellowArticle}" target="articleInfo" id="myclass">我关注的文章</a>
            </li>
            <li>
                <a name="newclass" th:href="@{/article/newArticle}" target="articleInfo" id="newclass">最近发布文章</a>
            </li>
            <li>
                <a name="desc" th:href="@{/article/myArticle}" target="articleInfo" id="desc">我发布的文章</a>
            </li>
        </ul>
        <div style="position: absolute;right: 10px;">
            <button type="button" id="newArticle" class="btn btn-success " th:href="@{/article/toInput}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发布
            </button>
        </div>

    </div>

    <div class="doc910 fn-right">
        <iframe id="articleInfo" name="articleInfo" th:src="@{/article/newArticle}" style="width: 910px;height:1200px;"
                frameborder="no"></iframe>
    </div>

</div>

<script>
    $(function () {
        $("#newArticle").click(function () {
            var href = $(this).attr("href");
            $(location).attr("href", href);
        });
    })
</script>
</body>

</html>